    <div class="hero-container flex flex-wrap w-full">
        <div class="hero min-h-screen w-full md:w-1/2">
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <img src="/images/Beige_Simple_Minimalist_Fast_Food_Burgers_Circle_Logo_1.png">
          <h1 class="mb-5 text-5xl font-bold">Welcome to Burger-Builder</h1>
          <p class="mb-5">
            A tool that allows users to customize and build their own burgers.
            Users can choose from a variety of buns, meats, toppings, sauces,
            and sides to create their perfect burger.
          </p>
          <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
      </div>
    </div>
  <div class="hero min-h-screen w-full md:w-1/2 bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Login now!</h1>
            <p class="py-6"> Sign in with your Email and Password to view some of the best burger recipes aorund town.</p>
          </div>
          <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <form class="form login-form card-body" id="login">
              <div class="form-control">
                <label class="email-login">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" class="input input-bordered form-input" id="email-login" />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered form-input" id="password-login"/>
              </div>
              <div class="form-control mt-6">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script src="./js/login.js"></script>