<container class="card w-80 ml-3 mt-3 bg-warning shadow-xl">
  <form name="burger-form" id= "burger" action="submit">
    <input
      required="true"
      type="text"
      placeholder="Name"
      id="name"
      class="input input-bordered input-md w-full max-w-xs"
    />
    <input
      required="true"
      type="text"
      placeholder="Description"
      id="description"
      class="input input-bordered input-md w-full max-w-xs"
    />
    <input
      required="true"
      type="text"
      placeholder="Ingredients"
      id="ingredients"
      class="input input-bordered input-md w-full max-w-xs"
    />
    <div class="card-actions justify-end">
      <button type="submit" class="btn btn-primary">Post Recipe</button>
    </div>
  </form>
</container>

<script src="./js/post.js"></script>