  <container class="flex mx-4 mb-4 mt-2">
  {{#each ingredients}}
    <div class="card w-32 bg-info shadow-xl mx-4">
      <div class="card-body">
        <div class="card-actions justify-end">
          <input type="checkbox" id="{{this}}" class="checkbox-primary" />
        </div>
        <p class="text-secondary">{{this}}</p>
      </div>
    </div>
  {{/each}}
</container>

 <div style="display:flex; justify-content:center; padding:5px;">
                        <button class="btn btn-wide">Submit</button>
                      </div>
