    <container class="flex mx-4 mb-4 mt-2">
    <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Onion Powder</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Cayenne Pepper</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Salt</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Sesame Seeds</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Pepper</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Paprika</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Garlic Powder</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Chili Powder</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Lemon Pepper</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Thyme</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Lemon Juice</p>
        </div>
      </div>
      <div class="card w-32 bg-info shadow-xl mx-4">
        <div class="card-body">
          <div class="card-actions justify-end">
            <input type="checkbox" class="checkbox-primary" />
          </div>
          <p class="text-primary">Eggs</p>
        </div>
      </div>
    </container>

    <container class="flex mx-4 mb-4">
        <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">American Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Colby Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Cream Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">
                Blue Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Cheddar Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Swiss Cheese</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Monteray Jack</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Heavy Cream</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Butter / Margarine</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Teriaki Sauce</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Brown / Dijon Mustard</p>
            </div>
          </div>
          <div class="card w-32 bg-info shadow-xl mx-4">
            <div class="card-body">
              <div class="card-actions justify-end">
                <input type="checkbox" class="checkbox-primary" />
              </div>
              <p class="text-primary">Barbecue Sauce</p>
            </div>
          </div>
        </container>
        <container class="flex mx-4 mb-4">
            <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Ketchup </p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Ranch Dressing</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Soy Sauce</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Tobasco Sauce</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Worces tershire</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Mayonnaise</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Buffalo / Hot Sauce</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Cream of Mushroom</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Salmon</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Black Beans</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Shrimp</p>
                </div>
              </div>
              <div class="card w-32 bg-info shadow-xl mx-4">
                <div class="card-body">
                  <div class="card-actions justify-end">
                    <input type="checkbox" class="checkbox-primary" />
                  </div>
                  <p class="text-primary">Cod</p>
                </div>
              </div>
            </container>
            <container class="flex mx-4 mb-4">
                <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Tomatoes</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Spinach</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Pickles</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Onions / Shallots</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Green Onions</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Avocado</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Jalapenos / Chipotle Peppers</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Pineapple</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Mushrooms</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Lettuce</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Kale</p>
                    </div>
                  </div>
                  <div class="card w-32 bg-info shadow-xl mx-4">
                    <div class="card-body">
                      <div class="card-actions justify-end">
                        <input type="checkbox" class="checkbox-primary" />
                      </div>
                      <p class="text-primary">Mac and Cheese</p>
                    </div>
                  </div>
                </container>
                <container class="flex mx-4 mb-4">
                    <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Brisket</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Chicken Breast</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Ground Turkey</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Ground Beef</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Bacon</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Bologna</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Hot Dog</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Chicken / Turkey</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Rolls </p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Wheat / Grain Bread</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Bread (in General)</p>
                        </div>
                      </div>
                      <div class="card w-32 bg-info shadow-xl mx-4">
                        <div class="card-body">
                          <div class="card-actions justify-end">
                            <input type="checkbox" class="checkbox-primary" />
                          </div>
                          <p class="text-primary">Buns</p>
                        </div>
                      </div>
                    </container>

                    <div style="display:flex; justify-content:center; padding:5px;">
                        <button class="btn btn-wide">Submit</button>
                      </div>