    <container class="card w-80 ml-3 mt-3 bg-warning shadow-xl">
      {{#each burger}}
        <figure><img src="{{image}}" alt="burger" class="mt-2 rounded"/></figure>
        <div class="card-body">
          <h2 class="card-title text-secondary ">{{name}}</h2>
          <p class="text-secondary">{{description}}</p>
          <p class="text-secondary">{{recipe}}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Save Recipe</button>
          </div>
        </div>
        {{/each}}
    </container>