html {
  height: 100%;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ff3131;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5efef;
  padding-bottom: 0px;
  position: fixed;
} 

@media (max-width: 768px) {
  .navbar {
    position:relative;
  } 
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5efef;
  color: #3b312e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  zoom: 105%;
}



.dropdown-content {
  background-color: #ff3131;
  color: #f5efef;
}

.dropdown-content:hover {
  background-color: #3b312e;
  color:#f5efef;
}

main {
  flex: 1;
  background-color: #f5efef;
}

img {
    margin-left: 15px;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.hero {
  /* background-color: #f5efef; */
  background-image: url(/images/rightdivbg.png);
}

.hero-overlay {
  background-image: url(/images/leftdivbg.png);
  background-size: cover;
  background-position: center;
  color: #3b312e;
}


.hero-content {
  top: -30px;
}


.max-w-md {
  color: #3b312e;
}

.container.flex.mx-4 {
  margin-top: 7.5rem;
}

.btn {
  background-color: #ff3131;

}

.btn.btn-primary {
  background-color: #ff3131;
}

.btn-primary {
  color: #f5efef;
  background-color: #ff3131;
}

.btn-primary:hover {
  background-color: #3b312e;
  color: #f5efef;
}

.form {
  background-color: #f5efef;
  color: #3b312e;
}

/* .flex-wrap {
  margin-top: 7.5rem;
} */

.label {
  color: #3b312e;
  background-color: #f5efef;
}

.card {
  color: #3b312e;
  background-color: #f5efef;
  margin-top: 6rem;
}

.input {
  background-color: #f5efef;
  color: #3b312e;
}

.footer {
  background-color: #3b312e;
  color: #f5efef;
}

.card.mt-3 {
  margin-top: 6rem;
}

.card .btn-primary {
  margin-right: 15px;
  margin-top: 15px;
  color:#f5efef;
}