html {
  height: 100%;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ff3131;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f5efef;
  padding-bottom: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5efef;
  color: #3b312e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  zoom: 105%;
}


.dropdown-content {
  background-color: #ff3131;
  color: #f5efef;
}

.dropdown-content:hover {
  background-color: #3b312e;
  color:#f5efef;
}

main {
  flex: 1;
  background-color: #f5efef;
}

/* footer {
    margin-top: auto;
  } */

.hero {
  /* background-color: #f5efef; */
  background-image: url(/images/rightdivbg.png);
}

.hero-overlay {
  background-image: url(/images/leftdivbg.png);
  background-size: cover;
  background-position: center;
  color: #3b312e;
}


.hero-content {
  top: -30px;
}


.max-w-md {
  color: #3b312e;
}

.container.flex.mx-4 {
  margin-top: 7.5rem;
}

.btn {
  background-color: #ff3131;

}

.btn.btn-primary {
  background-color: #ff3131;
}

.btn-primary {
  color: #3b312e;
  background-color: #ff3131;
}

.btn-primary:hover {
  background-color: #3b312e;
  color: #f5efef;
}

.form {
  background-color: #f5efef;
  color: #3b312e;
}

/* .flex-wrap {
  margin-top: 7.5rem;
} */

.label {
  color: #3b312e;
  background-color: #f5efef;
}

.card {
  color: #3b312e;
  background-color: #f5efef;
}

.input {
  background-color: #f5efef;
  color: #3b312e;
}

.footer {
  background-color: #3b312e;
  color: #f5efef;
}

/* favorite pop up styling */
#resultPopUp{
  text-align: center;
  width: 300px;
  border: solid black 2px;
  border-radius: 12px;
  box-shadow: 2px 5px 10px black;
  font-size: 20px;
  color: #f5efef;
  background-color: #ff3131;
  position:fixed;
  z-index: 10;
  right: 40%;
}

.resultHidden{
  display: none;
}

/* end */